openapi: 3.0.1
info:
  title: Steam API
  description: API для работы с Steam
  version: 1.0.0
servers:
  - url: https://steamcommunity.com
tags:
  - name: Group
    description: Работа с группой в целом
  - name: GroupPermisiions
    description: Апи для работы с разрешениями группы
  - name: GroupAnnouncements
    description: Апи для работы с объявлениями группы
  - name: GroupDiscussions
    description: Апи для работы с обсуждениями группы
  - name: GroupComments
    description: Апи для работы с комментариями группы
  - name: FileUploader
    description: Загрузка изображений
paths:
  /actions/GroupCreate:
    post:
      tags:
        - Group
      summary: Создание группы
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupCreate'
        required: true
      responses:
        '302':
          description: Перенаправление, если step = 2 на 
        '200':
          description: Success
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
  /groups/{groupLink}/edit/profile:
    post:
      tags:
        - Group
      summary: Редактирование группы
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupEdit'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
            
  /groups/{groupLink}:
    get:
      tags:
        - Group
      summary: Получение страницы с группой
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
      responses:
        '200':
          description: Success
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
  /groups/{groupLink}/permissionsEdit:
    get:
      tags:
        - GroupPermisiions
      summary: Получить страницу с разрещениями группы
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
      responses:
        '200':
          description: Success
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
    post:
      tags:
        - GroupPermisiions
      summary: Редактировать разрешения группы
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupPermissionsEdit'
      responses:
        '200':
          description: Success
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
  /groups/{groupLink}/announcements:
    post:
      tags:
        - GroupAnnouncements
      summary: Создать/Редактировать объявление в группе
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsCreate'
      responses:
        '302':
          description: Перенаправляет на страницу с объявлениями
  /groups/{groupLink}/announcements/delete/{announcementId}:
    get:
      tags:
        - GroupAnnouncements
      summary: УДАЛИТЬ объявление
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
        - in: path
          name: announcementId
          schema:
            type: string
          required: true
          description: Айди объявления
          example: 3904122044547675673
        - in: query
          name: sessionid
          schema:
            type: string
          example: 034163d4525f49b02747008a
          required: true
      responses:
        '302':
          description: Перенаправляет на страницу с объявлениями
  /groups/{groupLink}/announcements/listing:
    get:
      tags:
        - GroupAnnouncements
      summary: Получить список объявлений
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
        - in: query
          name: content_only
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: Страница с объявлениями
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
  /groups/{groupLink}/announcements/rate/{announcementId}:
    post:
      tags:
        - GroupAnnouncements
      summary: Оценить объявления
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
        - in: path
          name: announcementId
          schema:
            type: string
          required: true
          description: Айди объявления
          example: 3904122044547711879
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsRate'
      responses:
        '200':
          description: Страница с объявлениями
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/RateResponse'
        '400':
          description: Неверные параметры запроса
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/RateResponseError'
  /groups/{groupLink}/announcements/detail/{announcementId}:
    get:
      tags:
        - GroupAnnouncements
      summary: Получить подробную информацию об объявлении
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
        - in: path
          name: announcementId
          schema:
            type: string
          required: true
          description: Айди объявления
          example: 3904122044547711879
      responses:
        '200':
          description: Страница с объявлениями
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
  /comment/ClanAnnouncement/post/{clanAnnouncementId}/{announcementId}/:
    post:
      tags:
        - GroupAnnouncements
      summary: Оставить комментарий у объявления
      parameters:
        - in: path
          name: announcementId
          schema:
            type: string
          required: true
          description: Айди объявления
          example: 3904122044547711879
        - in: path
          name: clanAnnouncementId
          schema:
            type: string
          required: true
          description: Айди клана объявления (?!)
          example: 103582791474312655
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsComment'
      responses:
        '200':
          description: Страница с объявлениями
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/CommentResponse'
  /comment/ClanAnnouncement/delete/{clanAnnouncementId}/{announcementId}/:
    post:
      tags:
        - GroupAnnouncements
      summary: Удалить комментарий у объявления
      parameters:
        - in: path
          name: announcementId
          schema:
            type: string
          required: true
          description: Айди объявления
          example: 3904122044547711879
        - in: path
          name: clanAnnouncementId
          schema:
            type: string
          required: true
          description: Айди клана объявления (?!)
          example: 103582791474312655
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsCommentDelete'
      responses:
        '200':
          description: Страница с объявлениями
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/CommentResponse'
  /comment/ClanAnnouncement/subscribe/{clanAnnouncementId}/{announcementId}/:
    post:
      tags:
        - GroupAnnouncements
      summary: Подписаться на комментарий
      parameters:
        - in: path
          name: announcementId
          schema:
            type: string
          required: true
          description: Айди объявления
          example: 3904122044547711879
        - in: path
          name: clanAnnouncementId
          schema:
            type: string
          required: true
          description: Айди клана объявления (?!)
          example: 103582791474312655
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsCommentDelete'
      responses:
        '200':
          description: Страница с объявлениями
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/RateResponse'
  /groups/{groupLink}/discussions:
    get:
      tags:
        - GroupDiscussions
      summary: Получить список обсуждений группы
      parameters:
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
      responses:
        '200':
          description: Страница с обсуждениями
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
  /groups/{groupLink}/comments:
    get:
      tags:
        - GroupComments
      summary: Получить страницу со списком комментариев группы
      parameters:
        - in: query
          name: content_only
          schema:
            type: boolean
          example: true
        - in: path
          name: groupLink
          schema:
            type: string
          required: true
          description: Ссылка группы, которая указывалась при создании
          example: robber-vk
      responses:
        '200':
          description: Страница с объявлениями
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
  /comment/Clan/post/{clanId}/{feature2}:
    post:
      tags:
        - GroupComments
      summary: Оставить комментарий у группы
      parameters:
        - in: path
          name: clanId
          schema:
            type: string
          required: true
          description: Айди клана, который есть у группы
          example: 103582791474312655
        - in: path
          name: feature2
          schema:
            type: integer
          required: true
          description: То же что и в теле запроса
          example: -1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsComment'
      responses:
        '200':
          description: Страница с объявлениями
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/CommentResponse'
  /comment/Clan/subscribe/{clanId}/{feature2}:
    post:
      tags:
        - GroupComments
      summary: Подписаться на комментарий
      parameters:
        - in: path
          name: clanId
          schema:
            type: string
          required: true
          description: Айди клана, который есть у группы
          example: 103582791474312655
        - in: path
          name: feature2
          schema:
            type: integer
          required: true
          description: То же что и в теле запроса
          example: -1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsCommentDelete'
      responses:
        '200':
          description: Страница с объявлениями
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/RateResponse'
  /comment/Clan/delete/{clanId}/{feature2}:
    post:
      tags:
        - GroupComments
      summary: Удалить комментарий группы
      parameters:
        - in: path
          name: clanId
          schema:
            type: string
          required: true
          description: Айди клана, который есть у группы
          example: 103582791474312655
        - in: path
          name: feature2
          schema:
            type: integer
          required: true
          description: То же что и в теле запроса
          example: -1
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/GroupAnnouncementsCommentDelete'
      responses:
        '200':
          description: Страница с объявлениями
          content:
            application/json; charset=utf-8: 
              schema:
                $ref: '#/components/schemas/CommentResponse'

          
  /actions/FileUploader:
    post:
      tags:
        - FileUploader
      summary: Загрузка изображений
      parameters:
        - in: query
          name: type
          schema:
            type: string
          description: Тип места, куда будет загружена картинка
          example: group_avatar_image
        - in: query
          name: gId
          schema:
            type: string
          description: Айдишник
          example: 103582791474666000
        - in: query
          name: bgColor
          schema:
            type: string
          description: Код цвета для фона (!?)
          example: 1b2838
        
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/UploadImage'
        required: true
        
      responses:
        '200':
          description: Success
          headers:
            Set-Cookie:

              description: >
                Contains the session cookie named `COOKIE-NAME`.
                Pass this cookie back in subsequent requests.
              schema: 
                type: string
          content:
            text/html; charset=UTF-8: 
              schema:
                $ref: '#/components/schemas/HtmlResponse'
components:
  schemas:
    GroupCreate:
      required:
        - sessionid
        - step
        - groupName
        - abbreviation
        - groupLink
      type: object
      properties:
        sessionid:
          type: string
          example: /sdfvfdvfdv
        step:
          type: number
        groupName:
          type: string
        abbreviation:
          type: string
        groupLink:
          type: string
    GroupAnnouncementsRate:
      required:
        - sessionid
        - voteup
        - clanid
      type: object
      properties:
        sessionid:
          type: string
        voteup:
          type: boolean
          description: Лайк/Дизлайк
        clanid:
          type: string
          description: У группы есть clanid
    GroupAnnouncementsComment:
      required:
        - sessionid
        - comment
        - count
        - feature2
      type: object
      properties:
        sessionid:
          type: string
          description: "Example: f6092c5e482bc515735cce93"
        comment:
          type: string
        count:
          type: integer
          description: "10"
        feature2:
          type: integer
          description: "-2"
    GroupAnnouncementsCommentDelete:
      required:
        - sessionid
        - count
        - feature2
        - gidcomment
        - start
      type: object
      properties:
        sessionid:
          type: string
        start:
          type: integer
          description: "0"
        count:
          type: integer
          description: "10"
        feature2:
          type: integer
          description: "-2"
        gidcomment:
          type: integer
          description: "4041481833166210450"
    CommentResponse:
      type: object
      properties:
        comments_html:
          type: string
          example: "\t\t\r\n\t\r\n\t<div data-panel=\"{&quot;flow-children&quot;:&quot;row&quot;,&quot;type&quot;:&quot;PanelGroup&quot;}\" class=\"commentthread_comment responsive_body_text   \" id=\"comment_4041481833166177636\" style=\"\">\r\n\t\t\t\t<div class=\"commentthread_comment_avatar playerAvatar offline\">\r\n\t\t\t\t\t\t<a href=\"https://steamcommunity.com/profiles/76561198264589950\" data-miniprofile=\"304324222\">\r\n\t\t\t\t\t\t\t\t\t<img src=\"https://avatars.cloudflare.steamstatic.com/8dfa58472e03895b031f5e685080fa750a82f432.jpg\" srcset=\"https://avatars.cloudflare.steamstatic.com/8dfa58472e03895b031f5e685080fa750a82f432.jpg 1x, https://avatars.cloudflare.steamstatic.com/8dfa58472e03895b031f5e685080fa750a82f432_medium.jpg 2x\">\t\t\t\t\t\t\t</a>\r\n\t\t</div>\r\n\t\t<div class=\"commentthread_comment_content\">\r\n\t\t\t<div data-panel=\"{&quot;flow-children&quot;:&quot;row&quot;}\" class=\"commentthread_comment_author\">\r\n\t\t\t\t<a class=\"hoverunderline commentthread_author_link\" href=\"https://steamcommunity.com/profiles/76561198264589950\"  data-miniprofile=\"304324222\">\r\n\t\t\t\t\t<bdi>ROB</bdi></a>\r\n\r\n\t\t\t\t\r\n\t\t\t\t<img width=\"12\" height=\"12\" src=\"https://community.cloudflare.steamstatic.com/public/images/skin_1/comment_modindicator_officer.png\" title=\"Офицер\">\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t<span class=\"commentthread_comment_timestamp\" title=\"16 декабря 2023 в 16:37:47 MSK\" data-timestamp=\"1702733867\">\r\n\t\t\t\t\tТолько что&nbsp;\r\n\t\t\t\t</span>\r\n\t\t\t\t\t\t\t\t<div class=\"commentthread_comment_actions\" >\r\n\t\t\t\t\t<a class=\"actionlink\" data-tooltip-text=\"Удалить\" href=\"javascript:CCommentThread.DeleteComment( 'ClanAnnouncement_103582791474312655_3904122044547711879', '4041481833166177636'  );\"><img src=\"https://community.cloudflare.steamstatic.com/public/images/skin_1/notification_icon_trash_bright.png?v=1\" ></a>\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t\t<div class=\"commentthread_comment_text\" id=\"comment_content_4041481833166177636\">\r\n\t\t\t\tКоммент\t\t\t</div>\r\n\t\t\t\t\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t\r\n\t\r\n\t<div data-panel=\"{&quot;flow-children&quot;:&quot;row&quot;,&quot;type&quot;:&quot;PanelGroup&quot;}\" class=\"commentthread_comment responsive_body_text   \" id=\"comment_4041481833166084973\" style=\"\">\r\n\t\t\t\t<div class=\"commentthread_comment_avatar playerAvatar offline\">\r\n\t\t\t\t\t\t<a href=\"https://steamcommunity.com/profiles/76561198264589950\" data-miniprofile=\"304324222\">\r\n\t\t\t\t\t\t\t\t\t<img src=\"https://avatars.cloudflare.steamstatic.com/8dfa58472e03895b031f5e685080fa750a82f432.jpg\" srcset=\"https://avatars.cloudflare.steamstatic.com/8dfa58472e03895b031f5e685080fa750a82f432.jpg 1x, https://avatars.cloudflare.steamstatic.com/8dfa58472e03895b031f5e685080fa750a82f432_medium.jpg 2x\">\t\t\t\t\t\t\t</a>\r\n\t\t</div>\r\n\t\t<div class=\"commentthread_comment_content\">\r\n\t\t\t<div data-panel=\"{&quot;flow-children&quot;:&quot;row&quot;}\" class=\"commentthread_comment_author\">\r\n\t\t\t\t<a class=\"hoverunderline commentthread_author_link\" href=\"https://steamcommunity.com/profiles/76561198264589950\"  data-miniprofile=\"304324222\">\r\n\t\t\t\t\t<bdi>ROB</bdi></a>\r\n\r\n\t\t\t\t\r\n\t\t\t\t<img width=\"12\" height=\"12\" src=\"https://community.cloudflare.steamstatic.com/public/images/skin_1/comment_modindicator_officer.png\" title=\"Офицер\">\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t<span class=\"commentthread_comment_timestamp\" title=\"16 декабря 2023 в 16:01:23 MSK\" data-timestamp=\"1702731683\">\r\n\t\t\t\t\t36 мин. назад&nbsp;\r\n\t\t\t\t</span>\r\n\t\t\t\t\t\t\t\t<div class=\"commentthread_comment_actions\" >\r\n\t\t\t\t\t<a class=\"actionlink\" data-tooltip-text=\"Удалить\" href=\"javascript:CCommentThread.DeleteComment( 'ClanAnnouncement_103582791474312655_3904122044547711879', '4041481833166084973'  );\"><img src=\"https://community.cloudflare.steamstatic.com/public/images/skin_1/notification_icon_trash_bright.png?v=1\" ></a>\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t\t<div class=\"commentthread_comment_text\" id=\"comment_content_4041481833166084973\">\r\n\t\t\t\tКоммент\t\t\t</div>\r\n\t\t\t\t\t\t\t\t</div>\r\n\t\t\t</div>\r\n"
        has_upvoted:
          type: integer
        name:
          type: string
          example: "ClanAnnouncement_103582791474312655_3904122044547711879"
        pagesize:
          type: string
        start:
          type: integer
        success:
          type: boolean
        timelastpost:
          type: integer
        total_count:
          type: integer
        upvotes:
          type: integer
        error:
          type: string
    GroupEdit:
        required:
          - sessionid
        type: object
        properties:
          sessionid:
            type: string
          type:
            type: string
            description: Example - "profileSave"
          abbreviation:
            type: string
          customURL:
            type: string
          headline:
            type: string
          summary:
            type: string
          language:
            type: string
          country:
            type: string

          state:
            type: string
          city:
            type: string
          associate_game:
            type: string
          favorite_games:
            type: string
    GroupPermissionsEdit:
        required:
          - sessionid
        type: object
        properties:
          sessionid:
            type: string
          groupType:
            type: string
            description: Example - "private"
          permissions[caneditprops]:
            type: integer
          permissions[canmakeofficer]:
            type: integer
          permissions[canschedule]:
            type: integer
          permissions[canannounce]:
            type: integer
          permissions[canpotw]:
            type: integer
          permissions[cankickmembers]:
            type: integer
          permissions[cancurateapps]:
            type: integer
          permissions[canclaimoffers]:
            type: integer
          permissions[canbroadcast]:
            type: integer
          permissions[canchataccess]:
            type: integer
          permissions[canchatkick]:
            type: integer
          permissions[canchatban]:
            type: integer
          permissions[canchatinvite]:
            type: integer
          permissions[canpostcomments]:
            type: integer
          permissions[candeletecomments]:
            type: integer
          permissions[canacceptnewmembers]:
            type: integer
    GroupAnnouncementsCreate:
        required:
          - sessionid
        type: object
        properties:
          sessionid:
            type: string
          action:
            type: string
            description: Example - "post"
          languages[0][headline]:
            type: string
          languages[0][body]:
            type: string
          languages[1][headline]:
            type: string
          languages[1][body]:
            type: string
          languages[1][updated]:
            type: string
          languages[2][headline]:
            type: string
          languages[2][body]:
            type: string
          languages[2][updated]:
            type: string
          languages[3][headline]:
            type: string
          languages[3][body]:
            type: string
          languages[3][updated]:
            type: string
          languages[4][headline]:
            type: string
          languages[4][body]:
            type: string
          languages[4][updated]:
            type: string
          languages[5][headline]:
            type: string
          languages[5][body]:
            type: string
          languages[5][updated]:
            type: string
          languages[6][headline]:
            type: string
          languages[6][body]:
            type: string
          languages[6][updated]:
            type: string
          languages[7][headline]:
            type: string
          languages[7][body]:
            type: string
          languages[7][updated]:
            type: string
          languages[8][headline]:
            type: string
          languages[8][body]:
            type: string
          languages[8][updated]:
            type: string
          languages[9][headline]:
            type: string
          languages[9][body]:
            type: string
          languages[9][updated]:
            type: string
          headline:
            type: string
            description: Example - "Новое объявление"
          body:
            type: string
            description: Example - "Описание"
          youtubeurl:
            type: string
          previewVideoInsertType:
            type: string
            description: Example - "leftthumb"
    UploadImage:
      type: object
      required:
        - avatar
        - sessionid
        - gId
        - type
      properties:
        MAX_FILE_SIZE:
          type: integer
        type:
          type: number
          description: Тип, указанный в query params (group_avatar_image)
        gId:
          type: string
          description: Example - 103582791474312655
        sessionid:
          type: string
        doSub:
          type: integer
        avatar:
          type: string
          format: binary
    RateResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: integer
          example: 1
    RateResponseError:
      type: object
      required:
        - success
      properties:
        success:
          type: integer
          example: 8
    HtmlResponse:
      type: string
      example: '<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>'

  securitySchemes:
    timezoneOffset:
      type: apiKey
      in: cookie
      name: timezoneOffset
    cookieSettings:
      type: apiKey
      in: cookie
      name: cookieSettings
    browserid:
      type: apiKey
      in: cookie
      name: browserid
    steamCountry:
      type: apiKey
      in: cookie
      name: steamCountry
    steamLoginSecure:
      description: JWT Токен пользователя
      type: apiKey 
      in: cookie
      name: steamLoginSecure
    strInventoryLastContext:
      type: apiKey
      in: cookie
      name: strInventoryLastContext
    sessionid:
      type: apiKey
      in: header
      name: sessionid
security:
  - timezoneOffset: []
  - cookieSettings: []
  - browserid: []
  - steamCountry: []
  - steamLoginSecure: []
  - strInventoryLastContext: []
  - sessionid: []